.navbar__items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin: 0%;
  width: 50vw;
}



.MuiAppBar-root {
  background-color: white !important;
  opacity: 80%;
  color: #000 !important;
  position: fixed !important;
  z-index: 10;
}
