* {
  box-sizing: border-box;
}


html {
  font-family: 'Raleway', sans-serif;
  background-color: #EBF4FB;
}

.container {
  max-width: 26rem;
  margin-right: auto;
  margin-left: auto;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}
