
body {
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}

.homepage__heading {
  text-transform: uppercase;
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0rem;
}

.homepage__subtitle {
  color: #000;
  font-family: Raleway;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.12rem;
  margin-top: 0.8rem;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./img/flowers-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.homepage__button {
  font-size: 1rem;
  color: black;
  background-color: white;
  border-radius: 1.375rem;
  border: 1px solid silver;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  width: 11.5rem;
  height: 4rem;
  flex-shrink: 0;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 1.5rem;
}
